.inputPlus{
    width: 100%;
    display: grid;
    grid-template-columns: 1 fr 55px;

    &Value{
        border: 1px solid #b1b1b1;
        border-top-left-radius: 5px ;
        border-bottom-left-radius: 5px ;
        padding: 9px 10px;
        font: 1rem/1.4 'Roboto', sans-serif;
        background-color:dodgerblue;
        &::placeholder{
            color: black;
        }
    }
    &Button{
        border-radius: none;
        border-top-right-radius: 5px ;
        border-bottom-right-radius: 5px ;
        border: none;
        cursor: pointer;
        background-color: cadetblue;
        background: url('./images/plus.svg')
        no-repeat center center;
        transition: opacity 0.3;

        &:hover{
            opacity: 0.7;

        }
    }
}